<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iss.mapper.CartMapper" >
  <resultMap id="BaseResultMap" type="com.iss.pojo.Cart" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bid" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="unitprice" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="bname" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="amount" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="buynum" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="imgurl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createtime" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid, bid, unitprice, bname, amount, buynum, imgurl, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectByCid" resultType="com.iss.pojo.Cart" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where cid = #{cid,jdbcType=INTEGER}
    order by createtime desc 
  </select>
  
  <select id="selectByCidAndBid" resultType="com.iss.pojo.Cart" parameterType="com.iss.vo.CidAndBid" >
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where cid = #{cid} and bid=#{Bid}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shopping_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iss.pojo.Cart" >
    insert into shopping_cart (id, cid, bid, unitprice, 
      bname, amount, buynum, 
      imgurl, createtime)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{bid,jdbcType=CHAR}, #{unitprice,jdbcType=DOUBLE}, 
      #{bname,jdbcType=CHAR}, #{amount,jdbcType=DOUBLE}, #{buynum,jdbcType=INTEGER}, 
      #{imgurl,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iss.pojo.Cart" >
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="unitprice != null" >
        unitprice,
      </if>
      <if test="bname != null" >
        bname,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="buynum != null" >
        buynum,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=CHAR},
      </if>
      <if test="unitprice != null" >
        #{unitprice,jdbcType=DOUBLE},
      </if>
      <if test="bname != null" >
        #{bname,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="buynum != null" >
        #{buynum,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iss.pojo.Cart" >
    update shopping_cart
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=CHAR},
      </if>
      <if test="unitprice != null" >
        unitprice = #{unitprice,jdbcType=DOUBLE},
      </if>
      <if test="bname != null" >
        bname = #{bname,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="buynum != null" >
        buynum = #{buynum,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iss.pojo.Cart" >
    update shopping_cart
    set cid = #{cid,jdbcType=INTEGER},
      bid = #{bid,jdbcType=CHAR},
      unitprice = #{unitprice,jdbcType=DOUBLE},
      bname = #{bname,jdbcType=CHAR},
      amount = #{amount,jdbcType=DOUBLE},
      buynum = #{buynum,jdbcType=INTEGER},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>