<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iss.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.iss.pojo.Comment" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bid" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="bookname" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="satisdegree" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="commenttime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="cidimagesurl" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid, bid, content, bookname, satisdegree, commenttime, cidimagesurl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByBid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from comments
    where bid = #{bid,jdbcType=CHAR}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iss.pojo.Comment" >
    insert into comments (id, cid, bid, content, 
      bookname, satisdegree, commenttime, 
      cidimagesurl)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{bid,jdbcType=CHAR}, #{content,jdbcType=CHAR}, 
      #{bookname,jdbcType=CHAR}, #{satisdegree,jdbcType=INTEGER}, #{commenttime,jdbcType=CHAR}, 
      #{cidimagesurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iss.pojo.Comment" >
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="bookname != null" >
        bookname,
      </if>
      <if test="satisdegree != null" >
        satisdegree,
      </if>
      <if test="commenttime != null" >
        commenttime,
      </if>
      <if test="cidimagesurl != null" >
        cidimagesurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=CHAR},
      </if>
      <if test="bookname != null" >
        #{bookname,jdbcType=CHAR},
      </if>
      <if test="satisdegree != null" >
        #{satisdegree,jdbcType=INTEGER},
      </if>
      <if test="commenttime != null" >
        #{commenttime,jdbcType=CHAR},
      </if>
      <if test="cidimagesurl != null" >
        #{cidimagesurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iss.pojo.Comment" >
    update comments
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=CHAR},
      </if>
      <if test="bookname != null" >
        bookname = #{bookname,jdbcType=CHAR},
      </if>
      <if test="satisdegree != null" >
        satisdegree = #{satisdegree,jdbcType=INTEGER},
      </if>
      <if test="commenttime != null" >
        commenttime = #{commenttime,jdbcType=CHAR},
      </if>
      <if test="cidimagesurl != null" >
        cidimagesurl = #{cidimagesurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iss.pojo.Comment" >
    update comments
    set cid = #{cid,jdbcType=INTEGER},
      bid = #{bid,jdbcType=CHAR},
      content = #{content,jdbcType=CHAR},
      bookname = #{bookname,jdbcType=CHAR},
      satisdegree = #{satisdegree,jdbcType=INTEGER},
      commenttime = #{commenttime,jdbcType=CHAR},
      cidimagesurl = #{cidimagesurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>